<?xml version="1.0"?>
<launch>

    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}]: ${node}: ${message}"/>
    
    <!-- Parameters and Arguments -->
    <arg name="name"            /> <!-- Name of the vehicle being launched -->   
    <arg name="config_package_path"  /> <!-- Name of the package where the configuration files are stored -->
    <arg name="folder"             default="simulation" />  <!-- Name of the folder for the configuration files -->     
    <arg name="namespace"          default="false" />

    <arg name="broadcast_tf"       default="false" />

    <group ns="tfs/broadcaster">
        <node pkg="tf2_ros" type="static_transform_publisher" name="gnss" args="0 0 0 0 0 0 1 base_link gnss"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="usbl" args="0 0 0 0 0 0 1 base_link usbl"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="dvlb" args="0 0 0 0 0 0 1 base_link dvl_bt" />
        <node pkg="tf2_ros" type="static_transform_publisher" name="dvlw" args="0 0 0 0 0 0 1 base_link dvl_wt" />
        <node pkg="tf2_ros" type="static_transform_publisher" name="ahrs" args="0 0 0 0 0 0 1 base_link ahrs" />
        <node pkg="tf2_ros" type="static_transform_publisher" name="imun" args="0 0 0 0 0 0 1 base_link imu_noisy" />
        <node pkg="tf2_ros" type="static_transform_publisher" name="dept" args="0 0 0 0 0 0 1 base_link depth" />
        <node pkg="tf2_ros" type="static_transform_publisher" name="alti" args="0 0 0 0 0 0 1 base_link altimeter" />
    </group>
</launch>